@using BP_Snake.Models.DataLayer;

<div>
    @if (!HighScores.Any()) {
        <p>Zatím žádné záznamy.</p>
    } else {
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th colspan="5">
                            <h4>Highscores</h4>
                        </th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th>Pozice</th>
                        <th>Jméno</th>
                        <th>Skóre</th>
                        <th>Level</th>
                        <th>Datum</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int position = 1;
                    }
                    @foreach (var item in HighScores) {
                        <tr>
                            <td>@(position)</td>
                            <td><strong>@item.PlayerName</strong></td>
                            <td>@item.Score</td>
                            <td>@item.TotalLevelsCompleted</td>
                            <td>@item.DateTimeAchieved.ToString("dd.MM.yyyy HH:mm")</td>
                        </tr>
                        position++;
                    }
                </tbody>
            </table>
        </div>
    }
</div>

@code {
    [Parameter] public required List<GameScore> HighScores { get; set; }
}